body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-align: center;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  table {
    margin: 0 auto;
    border-collapse: collapse;
  }

  td {
    padding: 20px;
  }

  #video {
    max-width: 500px;
    border: 10px solid #f44336;
    border-radius: 10px;
  }

  #canvas {
    max-width: 500px;
    border: 10px solid #4CAF50;
    border-radius: 10px;
  }

  #video-container {
    display: flex;
    justify-content: center;
  }

  #video-container video {
    margin: 0 auto;
  }
